body {
	margin: 0;
	padding: 0;
	min-width: 320px;

	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 19.6px;
	font-weight: 300;
	font-style: normal;
	color: #FFFFFF;

	background-color: #1F1C1D;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.button {
	display: inline-block;
	padding: 12px 18px;
	
	font: inherit;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	color: #FFFFFF;
	text-align: center;
	
	outline: none;
	vertical-align: middle;
	border: 1px solid #A07B50;
	box-sizing: border-box;

	&:focus {
		color: #A07B50;
		border: 1px solid #CEC2B5;
	}

	&:active {
		opacity: 0.6;
	}
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;

	border: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}